node_modules/
.env
.env.*
.sessions/
.memory/
.usage/
.cron/
super-agent.config.json
.traces/
*/*.test.ts
.tutor-data/
.env-gpt-cheerful-sitor-intent-recognition
super-agent.config-gpt-cheerful-sitor-intent-recognition.json
.knowledge-data/*
output/*